blinker
certifi
charset-normalizer
click
colorama
idna
itsdangerous
Jinja2
MarkupSafe
requests
urllib3
Werkzeug
Flask
requests
Flask-SQLAlchemy
gunicorn
pymysql
Flask-Migrate
cryptography
mysql-connector-python
python-dotenv
schedule
flask-cors


